<div class="container mt-5">
  <div #operationToast role="alert" aria-live="assertive" aria-atomic="true"
    class="toast position-absolute mt-2 me-2 top-0 end-0 fade">
    <div class="toast-header">
      <strong class="me-auto">{{ toastHeader }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ toastText }}
    </div>
  </div>

  <h2 class="mb-4">Products</h2>

  <div class="row mb-1">
    <div class="col-2">
      <button class="btn btn-secondary btn-block" (click)="addProduct()" id="addProduct">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
        Create product
      </button>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <button class="btn btn-secondary btn-block" (click)="fetchData()">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
        Refresh data
      </button>
    </div>
  </div>
  <div class="row">
    <div *ngIf="loading; else table" class="d-flex justify-content-center my-4">
      Loading data...
      <div class="spinner-border" role="status">
      </div>
    </div>
  </div>
  <div class="row">
    <ng-template #table>
      <table *ngIf="!loading" class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price | currency:'USD' }}</td>
            <td>
              <button class="btn btn-danger btn-block-small " (click)="deleteProduct(product.id)"
                [attr.id]="'delete-' + product.id">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                  style="display: none"></span>
                Delete
              </button>
            </td>
          </tr>
          <tr *ngIf="! products ||products?.length === 0">
            <td colspan="5">No products</td>
          </tr>
        </tbody>
      </table>
    </ng-template>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <button class="page-item btn btn-secondary btn-block-small me-1" [class.disabled]="currentPage === 1 || loading"
          (click)="previousPage()">
          Previous
        </button>
        <button class="page-item btn btn-secondary btn-block-small ms-1"
          [class.disabled]="currentPage === totalPages || loading" (click)="nextPage()">
          Next
        </button>
      </ul>
    </nav>
  </div>
</div>